@font-face {
    font-family: "FromWhereYouAre";
    src: url('../images/FromWhereYouAre.ttf');
}

.img-about{
    display: inline-block;
    overflow:hidden;
    margin: auto;
    width:90px;
    height:90px;
}*/

.tittle-big{
    font-size: 4rem;
    font-family: 'FromWhereYouAre',Arial;
}

.tittle{
    font-family: 'FromWhereYouAre', cursive;
    font-size: 3rem;
}

.about{
    font-family: 'Indie Flower', cursive;
    font-size : 2rem;
}




/*------------- FORMULAIRE -------------------*/
body{
    font-family: 'Indie Flower', cursive;
    font-size : 2rem;
}

#addCity h2{
    font-family: 'FromWhereYouAre', Arial;
    font-size: 3rem;
}
#addCity{
    font-family: 'Indie Flower', cursive;
    font-size : 2rem;
}

.event{
    font-family: 'Indie Flower', cursive;
    font-size : 2rem;
}
.city-name{
    font-family: 'FromWhereYouAre', Arial;
    font-size: 3rem;
}
.truc{
   font-family: 'Indie Flower', cursive;
    font-size : 2rem; 
}
