#myCarousel{
    max-height: 100%
    position: relative;
    z-index: 2;
}
#myCarousel .item{
    height: 740px;
    width: 100%;
}
.MyCarousel img {
    position: absolute;
    top: 0;
    left: 0;
    height: 740px;
    bottom: 0;
    overflow: hidden;
}
.carousel-control.right{
    background-image:none;
}
.carousel-control.left{
    background-image:none;
}

.slideTittle{
    position: absolute;
    top: 0;
    left: 0;    
    z-index :3 ;
    color : white;
}
.slideTittle: hover{
    text-decoration: none;
}

@media screen and (max-width: 993px) {
    #myCarousel{
     
        display: none;
    }
}