body{
    font-size: 10px;
}



#myCarousel{
    max-height: 100%
    position: relative;
    z-index: 2;
}
#myCarousel .item{
    height: 740px;
    width: 100%;
}

.img-slide{
    background-color: dimgrey;
    opacity: 1; 
    -webkit-filter: grayscale(100%);
	filter: grayscale(75%);
}
.MyCarousel img {
    position: absolute;
    top: 0;
    left: 0;
    height: 740px;
    bottom: 0;
    z-index: 2;
    overflow: hidden;
}
.carousel-control.right{
    background-image:none;
}
.carousel-control.left{
    background-image:none;
}

.item{
    background-color: rgba(0,0,0,0.2);
}
.slideTittle{
    box-sizing: 150px;
    position: absolute;
    top: 0;   
    z-index :3 ;
    color : #8c192d;
    margin-left: 33%;
    margin-top: 15%;
     text-transform: lowercase;
    font-size: 5rem;
    border-radius: 1;
    font-family: "FromWhereYouAre";
    transition: all 500ms ease-in-out;
}
.slideTittle: hover{
    text-decoration: none;
    font-size : 6rem;

}
.slide-content{
    font-size: 2rem;
    position: absolute;
    left: 0px;
    top: 0;
    z-index: 5;
    margin-top: 25%;
    margin-left: 15%;
    margin-right: 15%;
    color :white;
    font-family: 'Indie Flower', cursive;
    background-color: rgba(0,0,0,0.5);
}

@media screen and (max-width: 993px) {
    #myCarousel{
     
        display: none;
    }
}