#myCarousel{
    position: relative;
    z-index: 2;
}
#myCarousel .item{
    height: 400px;
}
.MyCarousel img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    max-height: 100%;
    overflow: hidden;
}
.carousel-control.right{
    background-image:none;
}
.carousel-control.left{
    background-image:none;
}

@media screen and (max-width: 993px) {
    #myCarousel{
     
        display: none;
    }
}