#myCarousel{
    position: relative;
    z-index: 2;
}
#myCarousel .item{
    height: 400px;
}
.MyCarousel img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    /*height: 200px;*/
    overflow: hidden;
}

@media screen and (max-width: 993px) {
    #myCarousel{
     
        display: none;
    }
}