/****************************************Navbar*********************************************/


/*
.navbar a{
    float:left;
    margin: 2%;
    text-decoration: none;
    color: white;
    font-size: 2.3rem;
    text-align: center;
        
}
*/

/*
.navbar {
    background-color: darkgrey;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.navbar a {
    text-decoration: none;
    color: white;
    font-size: 2.3rem;
    text-align: center;
}
#logo {
    width: 20%;
    transform: translateY(-50%);
    height: auto;
}
#searchbar {
    border: none;
}
#nav {
    padding: 0;
   margin: 0;
}
.nav {
    text-decoration: none;
    color: white;
    font-size: 2.3rem;
    text-align: center;
}
#nav li {
    display: inline;
    list-style: none;
    padding-top: 2.5%;
}
.main-nav {
    display: flex;
    flex-wrap: wrap;
}
.nav a {
    margin-left: 10%;
    margin-right: 10%;
     margin-top: 3%;
}
.nav-first {
    
}
*/

.container {
  width: 70%;
  margin: 0 auto;
  position: relative;
  display: block;
  min-height: 200px;
background-color: darkgrey;
}

.navbar-left {
  float: left;
  width: 33.33%;
  padding: 0;
  list-style: none;
  text-align: center
}

.navbar-right {
  float: right;
  width: 33.33%;
  padding: 0;
  list-style: none;
  text-align: center;
}

.navbar-left li,
.navbar-right li {
  display: inline-block;
  padding: 0 0.5em;
    padding-top: 15%;
    
}

.navbar-center {
  display: inline-block;
  width: 33.33%;
  float: left;
  text-align: center;
  margin: 0 auto;
  position: relative;
}

.navbar-center img {
  margin: 0 auto;
  display: block;
  width: 100%;
  max-width: 100px;
}

/****************************************Footer*********************************************/

.footer {
    background-color: #233b6c;
    width: 100%;
    position: fixed;
    bottom: 0;
    margin-top: 20px;
}
.footer p {
    text-align: center;
    color: darkgrey;
    padding: 10px;
}
