/**************************page city********************************/

.one-city {}
.description-cities {
    display: none;
    position: absolute;
    width: 100%;
    height: auto;
}
.one-city {
    float: left;
}
.picture-city {
    width: 100%;
    height: auto;
}
.name-activity {
    display: none;
    position: relative;
    width: 100%;
    height: auto;
    font-family: "FromWhereYouAre";
}
city-name {
    position: relative;
    width: 100%;
    height: auto;
    /*text-align: center;
    margin-left: auto;
    margin-right: auto;*/
    font-family: "FromWhereYouAre";
}

.place-name{
    font-family: "FromWhereYouAre";
}

/**********************commentSubmit page************************/

.comment-post {
    display: block;
   
}

/****************************city**************************/

.city {
    margin: 1%;
}
.add-city-button {
    width: 30%;
    height: auto;
   /* vertical-align: center;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#description-city{
    font-size: 2rem;
    font-family: 'Indie Flower', cursive;
}

.name-on-picture{
     font-family: "FromWhereYouAre";
}

.city-name{
     font-family: "FromWhereYouAre";
    font-size: 2rem;
    text-align: center;
}

.activity-name{
     font-family: "FromWhereYouAre";
    font-size: 1.7rem;
    /*text-align: center;*/
    
}

.activities img{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    
}

.title-place{
    font-family: "FromWhereYouAre";
}
/*********************************place*****************************/
.place-description{
    font-size : 2rem;
    }

.search-bar{
    display:block;
    text-align: center;

}

.searchBar{
    margin-top: 1%;
}

.result-name a{
   list-style: none;
}

/*.add-button{
    width: 50%;
    height: auto;
}*/

.name-event{
 font-family: "FromWhereYouAre";
}