/****************************************Navbar*********************************************/

.navbar a{
    float:left;
    margin: 2%;
    text-decoration: none;
    color: white;
    font-size: 2rem;
    text-align: center;
    
}

.navbar{
     background-color: darkgrey;
}

.searchbar{
    margin-top: 23px;
    border: none;
    padding: 5px 10px 5px 10px;
}

#logo{
    width: 100%;
}

#linklogo{
    float: left;
    width: 20%;
}


/****************************************Footer*********************************************/

.footer{
    background-color: #233b6c;
    width: 100%;
    position: fixed;
}

.footer p{
    text-align: center;
    color: darkgrey;
    padding: 10px;
}